body {
        
    background-color :cornsilk;
    font: 30px Arial;

  }

  hr{
    border-style: none;
    height: 3px;
    background-color: none;
    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;  
    width: 30%;
  }

  h1 {
   color: indianred;
  }

  h1:hover {
    color: blue;
   }